*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "M PLUS 1p", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  /* // A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /* // Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
}

header {
  height: 70px;
  width: 100%;
  background-color: #fff;
  font-size: 17px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 3px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  margin: 15px 0 15px 0;
  width: 3.75em;
  height: 1.75em;
}

.navbar {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-ul {
  height: 100%;
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-li {
  margin-right: 30px;
  cursor: pointer;
  font-weight: 500;
}

.account-links {
  align-self: flex-end;
  flex-grow: 1;
  height: 100%;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.account-links-ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account-links-li {
  margin-left: 25px;
  font-size: 12px;
}

.account-links-li--link {
  font-size: 18px;
  text-decoration: none;
}

.main-container {
  width: 100%;
  background-color: #fff;
  padding-bottom: 8.3333vw;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100%;
  height: 850px;
  padding: 60px 8.3333vw 0 8.3333vw;
}

.banner-title {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../imgs/header-large.jpg");
}

.banner-title-text {
  font-family: sans-serif;
  color: rgb(255, 94, 66);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 125px;
  font-weight: 400;
}

.text-sections {
  width: 50vw;
  margin: 8vw 0;
  line-height: 1.75;
}

.text-sections--large-text {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

.text-sections--links {
  text-decoration: none;
}

.text-sections--small-text {
  font-size: 17px;
}

.img-section--yellow {
  width: 100%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.img-section--yellow-images {
  width: 100%;
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.img-section--yellow-img1 {
  height: 40vw;
  width: 40vw;
}

.img-section--yellow-img2 {
  width: 33.3333vw;
  height: 25vw;
}

.img-section--yellow-block {
  width: 58vw;
  height: 58vw;
  background-color: rgb(255, 255, 166);
  z-index: 1;
}

.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.small-video {
  width: 50vw;
  height: 28vw;
}

.large-video {
  width: 83vw;
  height: 48vw;
}

.video-section-player-description {
  font-size: 12px;
  font-weight: 500;
}

.img-section--green {
  width: 100%;
  height: 75vw;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.imgs-left {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-left: 8.33vw;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.imgs-left--img {
  width: 33.333vw;
  height: 25vw;
}

.imgs-right {
  position: absolute;
  padding-right: 8.33vw;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.imgs-right--img {
  width: 41.66667vw;
  height: 41.66667vw;
  z-index: 2;
}

.img-section--green-block {
  position: absolute;
  width: 58vw;
  height: 75vw;
  background-color: rgb(189, 255, 189);
  z-index: 1;
}

.img-section--purple {
  height: 60vw;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purple-imgs {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.purple-imgs-img1 {
  width: 33.3333vw;
  height: 25vw;
  margin-left: 8.3333vw;
}

.purple-imgs-img2 {
  width: 41.66667vw;
  height: 41.66667vw;
}

.purple-block {
  background-color: rgb(211, 183, 255);
  width: 66.66667vw;
  height: 58.33333vw;
  position: absolute;
  z-index: 1;
}

.img-section--blue {
  margin: 0 8.3333vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.blue-img {
  width: 45vw;
  height: 50vw;
}

.blue-block {
  background-color: rgb(172, 198, 255);
  width: 100%;
  height: 41.66667vw;
  padding: 8.3333vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.blue-block-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.75;
}

.blue-block-text-link {
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}

footer {
  background-color: #fff;
  padding: 8.3333vw;
}

.footer-company-name {
  margin-bottom: 5vw;
  font-size: 55px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 35vw;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5vw;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section-header {
  margin: 0;
}

.footer-section-header {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.footer-links--link {
  margin: 0;
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
}

.link-arrow {
  font-size: 10px;
}

/* .main-links {
  display: flex;
  flex-direction: column;
} */

.social-links-ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.social-icon {
  width: 50px;
  height: auto;
  padding-right: 15px;
}

.newsletter-links {
}

.newsletter-signup {
}

.newsletter-signup-description {
  line-height: 1.75;
}

.newsletter-form {
  display: flex;
  height: 43px;
  margin-top: 5px;
}

.newsletter-form-input {
  padding: 5px 15px;
  background-color: rgb(236, 236, 236);
  border: none;
  font-size: 17px;
}

.newsletter-form-input::placeholder {
  color: rgb(161, 161, 161);
}

.newsletter-form-button {
  background-color: blue;
  color: #fff;
  font-weight: 500;
  min-width: 120px;
  border: none;
}

.dropdowns {
  display: flex;
  flex-direction: row;
}

.select {
  height: 30px;
  padding: 8px 5px;
  border: none;
  background-color: rgb(236, 236, 236);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #000;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.language {
  width: 150px;
  margin-right: 2px;
}

.location {
  width: 215px;
}

.bottom-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bottom-links-ul {
  width: 100%;
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.bottom-links-li {
  font-size: 12px;
  margin-right: 10px;
}

.bottom-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.made-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.made-in-text {
  width: 100px;
  font-size: 12px;
  font-weight: 500;
  color: #000;
}
